<table class="table m-0">
    <thead>
    <tr>
      <th>Account</th>
      <th>Date</th>
      <th>Payee</th>
      <th>Category</th>
      <th>Memo</th>
      <th>Outflow</th>
      <th>Inflow</th>
      <th>Cleared</th>
    </tr>
    </thead>
    <tbody>
    {% for tr in transactions %}
    <tr>
      <td>{{ tr.account }}</td>
      <td>{{ tr.date|date:"Y/m/d" }}</td>
      <td>{{ tr.payee }}</td>
      <td>{{ tr.category }}</td>
      <td>{{ tr.memo }}</td>
      <td>{{ tr.outflow }}</td>
      <td>{{ tr.inflow }}</td>
      <td>{% if tr.cleared %}<i class="fas fa-check-circle"></i>{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>