[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[scripts]
dev="python manage.py runserver"
test="python manage.py test"
clean="bash scripts/clean.sh"

[dev-packages]

[requires]
python_version = "3.10"
