{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link">
      <img src="{% static 'app/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Dinero</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="{% url 'coming_soon' %}" class="nav-link">
              <i class="nav-icon fa fa-solid fa-money-bill"></i>
              <p>
                Budget
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'coming_soon' %}" class="nav-link">
              <i class="nav-icon fa fa-solid fa-chart-bar"></i>
              <p>
                Reports
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts' %}" class="nav-link">
              <i class="nav-icon fa fa-building"></i>
              <p>
                All Accounts
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'coming_soon' %}" class="nav-link">
              <i class="nav-icon fas fa-angle-left right"></i>
              <div class="row">
                <p class="col-4">
                  Budget
                </p>
                <p class="col" style="font-size: small;"><b 
                   hx-trigger="load" 
                   hx-get="{% url 'api:get-balance' %}?cat=budget" 
                   hx-swap="innerHTML"></b></p>
              </div>
            </a>
            <ul class="nav nav-treeview" 
                hx-swap="innerHTML" 
                hx-trigger="load" 
                hx-get="{% url 'api:get-accounts' %}?cat=budget"> 
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'coming_soon' %}" class="nav-link">
              <i class="nav-icon fas fa-angle-left right"></i>
              <div class="row">
                <p class="col-4">
                  Tracking
                </p>
                <p class="col" style="font-size: small;"><b 
                   hx-trigger="load" 
                   hx-get="{% url 'api:get-balance' %}?cat=tracking" 
                   hx-swap="innerHTML"></b></p>
              </div>
            </a>
            <ul class="nav nav-treeview" 
                hx-swap="innerHTML" 
                hx-trigger="load" 
                hx-get="{% url 'api:get-accounts' %}?cat=tracking">
            </ul>
          </li>
        </ul>
      </nav>
      <button type="button" data-toggle="modal" data-target="#modal-default" class="btn btn-block btn-default"><i class="fa fa-plus"></i> Add Account</button>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

{% include 'app/layout/sidebar/add_account_modal.html' %}